<span class="color-bar">
  <span data-dojo-type="layercake/widgets/Slider"
      data-dojo-attach-point="colorSlider"
      data-dojo-props="intermediateChanges: true,
                       minimum: 0,
                       maximum: 100,
                       discreteValues: 11"
      style="max-width:300px"></span>
  <div data-dojo-attach-point="gradient"
      class="gradient">
    <div data-dojo-attach-point="leftTick"
        class="tick">0%</div>
    <div data-dojo-attach-point="rightTick"
        class="tick">100%</div>
  </div>
</span>
